{% extends 'public/base.html.twig' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body_class 'login' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : '' }}{% endblock %}

{% block main %}
	{% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
	{% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
	{% set _forgot_password_label = forgot_password_label is defined ? forgot_password_label|trans : 'login_page.forgot_password'|trans({}, 'EasyAdminBundle') %}
	{% set _remember_me_label = remember_me_label is defined ? remember_me_label|trans : 'login_page.remember_me'|trans({}, 'EasyAdminBundle') %}
	{% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}

	{% if error|default(false) %}
		<div class="position-fixed bottom-0 end-0 w-25 alert alert-danger alert-dismissible" role="alert" style="z-index: 9999;">
			<div class="d-flex">
				<div>
					<i class="icon alert-icon ti ti-alert-circle"></i>
				</div>
				<div>
					<h4 class="alert-title">{{ error.messageKey|trans(error.messageData, 'security') }}</h4>
				</div>
			</div>
			<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
		</div>
	{% endif %}

	<div class="container-tight py-4">
		<div class="text-center mb-4">
			<a href="{{ path('public_home') }}" class="navbar-brand navbar-brand-autodark">
				<img src="{{ app.session.get('config').appLogo }}" alt="{{ app.session.get('config').appName }}" height="36">
			</a>
		</div>
		<form class="card card-md" action="{{ action|default('') }}" method="post" autocomplete="off">

			{% if csrf_token_intention|default(false) %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
			{% endif %}
			<input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default('/') }}" />

			<div class="card-body">
				<h2 class="card-title text-center mb-4">{{ 'public.login.title'|trans }}</h2>
				<div class="mb-3">
					<label class="form-label required" for="username">{{ _username_label }}</label>
					<input type="text" id="username" name="{{ username_parameter|default('_username') }}" class="form-control" value="{{ last_username|default('') }}" placeholder="{{ _username_label }}" required autofocus>
				</div>
				<div class="mb-2">
					<label class="form-label required" for="password">
						{{ _password_label }}
						{% if forgot_password_enabled|default(false) %}
						<span class="form-label-description">
							<a href="{{ forgot_password_path|default('#') }}">{{ _forgot_password_label }}</a>
						</span>
						{% endif %}
					</label>
					<div class="input-group input-group-flat">
						<input type="password" id="password" name="{{ password_parameter|default('_password') }}" class="form-control" placeholder="{{ _password_label }}" required>
						<button type="button" class="btn btn-icon btn-pass">
							<i class="icon ti ti-eye"></i>
						</button>
					</div>
				</div>
				{% if remember_me_enabled|default(false) %}
				<div class="mb-2">
					<label class="form-check">
						<input type="checkbox" id="remember_me" class="form-check-input" name="{{ remember_me_parameter|default('_remember_me') }}" {{ remember_me_checked|default(false) ? 'checked' }}>
						<span class="form-check-label" for="remember_me">{{ _remember_me_label }}</span>
					</label>
				</div>
				{% endif %}
				<div class="form-footer">
					<button type="submit" class="btn btn-primary w-100">{{ _sign_in_label }}</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
