{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.reports.title'|trans }} - {{ 'ea.reports.year.title'|trans }}{% endblock %}
{% block content_title %}{{ 'ea.reports.title'|trans }} - {{ 'ea.reports.year.title'|trans }}{% endblock %}

{% block main %}
	<div class="card mb-3">
		<div class="card-body">
			{{ form_start(form, {'attr': {'id': 'reportsYear-form'}}) }}
			<div class="row">
				<div class="col-md-6">
					<div class="form-widget mb-3">
						{{ form_label(form['tipo']) }}
						{{ form_widget(form['tipo']) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-widget mb-3">
						{{ form_label(form['year']) }}
						{{ form_widget(form['year']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget">
						{{ form_widget(form.send) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	
	{% if reports %}
		{% if reports.weddings > 0 %}
			<div class="card mb-3">
				<div class="card-header">
					<div class="card-title">
						{{ app.request.get('form')['year'] }} <span class="card-subtitle">{{ reports.weddings }} {{ 'entities.event.plural'|trans }}: {{ reports.bill|price }} €</span>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="mb-3 pb-3 border-bottom">
								{% for service in reports.services %}
									<p><strong>{{ service.count }} {{ service.name }}</strong>: {{ service.bill|price }} €</p>
								{% endfor %}
							</div>
							{% for month, monthreport in reports.months %}
								<h3 class="mb-2 pb-2 border-bottom border-3">
									{{ ('entities.billing.fields.months.' ~ month)|trans }} <small>({{ monthreport.weddings }} {{ 'entities.event.plural'|trans }}: {{ monthreport.bill|price }} €)</small>
								</h3>
								<div class="mb-4">
									{% for service in monthreport.services %}
										<p><strong>{{ service.count }} {{ service.name }}</strong>: {{ service.bill|price }} €</p>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p class="m-0 text-muted text-center">{{ 'ea.reports.notFound'|trans }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}

{% block body_javascript %}
	{{ encore_entry_link_tags('form-type-date') }}
	{{ encore_entry_script_tags('form-type-date') }}
{% endblock body_javascript %}
