{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.billing.title'|trans }} - {{ ('entities.billing.fields.months.' ~ month|trim(0, 'left'))|trans }} {{ year }}{% endblock %}
{% block content_title %}{{ 'ea.billing.title'|trans }} - {{ ('entities.billing.fields.months.' ~ month|trim(0, 'left'))|trans }} {{ year }}{% endblock %}

{% block page_actions %}
	{% set currentMonth = app.request.get('month') ?? "now"|date('m') %}
	{% set currentYear = app.request.get('year') ?? "now"|date('Y') %}
	{% set leftMonth = currentMonth-1 == 0 ? 12 : currentMonth-1 %}
	{% set rightMonth = currentMonth+1 == 13 ? 1 : currentMonth+1 %}
	{% set leftYear = leftMonth == 12 ? currentYear-1 : currentYear %}
	{% set rightYear = rightMonth == 1 ? currentYear+1 : currentYear %}
	<a class="btn btn-secondary" href="{{ ea_url().setRoute("admin_billing").set('month', "%02d"|format(leftMonth)).set('year', leftYear) }}">
		<i class="ti ti-chevron-left"></i>
	</a>
	<a class="btn btn-secondary" href="{{ ea_url().setRoute("admin_billing").set('month', "%02d"|format(rightMonth)).set('year', rightYear) }}">
		<i class="ti ti-chevron-right"></i>
	</a>
{% endblock %}

{% block main %}
	{% if billing %}
		<div class="alert alert-success">{{ 'ea.billing.yesBilling'|trans }}</div>
	{% else %}
		<div class="alert alert-warning">{{ 'ea.billing.noBilling'|trans }}</div>
	{% endif %}

	{% set totalVal = 0 %}
	{% for wedding in weddings %}
		{% set wPM = wedding.weddingPayMethod %}
		{% set tPM = wedding.testingPayMethod %}
		<div class="row">
			<div class="col-md-8 fw-bold">{{ wedding.title }}</div>
			<div class="col-md-4 fw-bold text-end">{{ wedding.datetime|date('d/m/Y H:i') }}</div>
			<div class="my-3">
			{% for service in wedding.services %}
				{% set val = 0 %}
				
				{% set serviceTitle = null %}
				{% set serviceVal = 0 %}
				{% if wedding.isWedding %}
					{% set serviceTitle = service.title %}
					{% if wPM == 'Transferencia' or wPM == 'Tarjeta' %}
						{% set val = val + (service.priceWedding * service.count) + service.weddingDisplacementCost %}
					{% endif %}

					{% if val == 0 %}
						{% if wPM == 'Efectivo' %}
							{% set serviceVal = 'ea.billing.paidEfective'|trans %}
						{% else %}
							{% set serviceVal = 'ea.billing.paidNone'|trans %}
						{% endif %}
					{% else %}
						{% set serviceVal = val ~ ' €' %}
					{% endif %}
				{% endif %}

				{% if wedding.isTesting %}
					{% set serviceTitle = 'ea.calendar.testing'|trans ~ ': ' ~ service.title %}
					{% if tPM == 'Transferencia' or tPM == 'Tarjeta' %}
						{% set val = val + (service.priceTesting * service.count) + service.testingDisplacementCost %}
					{% endif %}

					{% if val == 0 %}
						{% if tPM == 'Efectivo' %}
							{% set serviceVal = 'ea.billing.paidEfective'|trans %}
						{% else %}
							{% set serviceVal = 'ea.billing.paidNone'|trans %}
						{% endif %}
					{% else %}
						{% set serviceVal = val ~ ' €' %}
					{% endif %}
				{% endif %}

				{% set totalVal = totalVal + val %}
				
				<div class="row ms-4">
					<div class="col-8">{{ serviceTitle }}</div>
					<div class="col-4 text-end">{{ serviceVal }}</div>
				</div>
			{% endfor %}
			</div>
		</div>
	{% endfor %}

	{% if totalVal %}
		{% set iva = (totalVal - (totalVal / 1.21))|round(2) %}
		{% set baseImponible = totalVal - iva %}
		{% set professionalIrpf = app.user.professionalIrpf ?? 0 %}
		{% set irpf = (baseImponible * professionalIrpf / 100)|round(2) %}
		{% set total = totalVal - irpf %}
		<div class="row mt-4">
			<div class="col-8">IVA 21%:</div>
			<div class="col-4 text-end">{{ "%.2f"|format(iva) ~ ' €' }}</div>
		</div>
		<div class="row">
			<div class="col-8">IRPF {{ professionalIrpf }}%:</div>
			<div class="col-4 text-end">{{ "%.2f"|format(irpf) ~ ' €' }}</div>
		</div>
		<div class="row fw-bold mb-4">
			<div class="col-8">TOTAL:</div>
			<div class="col-4 text-end">{{ "%.2f"|format(total) ~ ' €' }}</div>
		</div>
	{% endif %}
	
	{% if not billing %}
		<form class="row mt-4 pt-4 border-top" id="form" method="POST" enctype="multipart/form-data">
			<div class="col-md-6">
				<div class="form-group">
					<label class="form-label required" for="name">
						{{ 'entities.user.fields.name'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="name" name="name" class="form-control" value="{{ app.user.fullname }}" readonly required>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="form-label required" for="cifNifType">
						{{ 'entities.billing.fields.cifNifType'|trans }}
					</label>
					<div class="form-widget mb-3">
						<select id="cifNifType" name="cifNifType" class="form-control" required>
							<option value="NIF">{{ 'entities.billing.fields.cifNifTypes.NIF'|trans }}</option>
							<option value="CIF">{{ 'entities.billing.fields.cifNifTypes.CIF'|trans }}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="form-label required" for="cifNif">
						{{ 'entities.billing.fields.cifNif'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="cifNif" name="cifNif" class="form-control" value="{{ app.user.professionalDNI }}" required>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="form-label required" for="address">
						{{ 'entities.billing.fields.address'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="address" name="address" class="form-control" value="{{ app.user.professionalAddress }}" required>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="form-label required" for="city">
						{{ 'entities.billing.fields.city'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="city" name="city" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="form-label required" for="cp">
						{{ 'entities.billing.fields.cp'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="cp" name="cp" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="form-label required" for="num">
						{{ 'entities.billing.fields.num'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="num" name="num" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="form-label required" for="price">
						{{ 'entities.billing.fields.price'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="price" name="price" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="form-label required" for="accountNumber">
						{{ 'entities.billing.fields.accountNumber'|trans }}
					</label>
					<div class="form-widget mb-3">
						<input type="text" id="accountNumber" name="accountNumber" class="form-control" required>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" id="itsOkQuestion" required>
						<label class="form-check-label required" for="itsOkQuestion">
							{{ 'ea.billing.itsOkQuestion'|trans }}
						</label>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<label class="btn btn-primary">
					<i class="icon ti ti-file"></i> {{ 'ea.billing.add'|trans }} <input id="file" type="file" name="file" style="display: none;">
				</label>
			</div>
		</form>
	{% endif %}
{% endblock %}

{% block body_javascript %}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			document.getElementById("file").onchange = function() {
				if ($("#form")[0].checkValidity()) {
					document.getElementById("form").submit();
				} else {
					alert("{{ 'ea.billing.error'|trans }}");
				}
			};
		});
</script>
{% endblock %}
