{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.calendar.title'|trans }}{% endblock %}
{% block content_title %}
	{{ 'ea.calendar.title'|trans }}
	<button type="button" class="ms-2 btn btn-primary btn-icon" data-bs-toggle="modal" data-bs-target="#calendarModal">
		<i class="icon ti ti-calendar-plus"></i>
	</button>
{% endblock %}

{% block main %}
	{% set icalURL = url("calendar", { id: app.user.id }) %}
	<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="calendarModalLabel">{{ 'ea.calendar.exportCalendar'|trans }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12 text-muted text-center">
							{{ 'ea.calendar.exportCalendarText'|trans }}
						</div>
						<div class="col-md-12 my-3">
							<input type="text" class="form-control" value="{{ icalURL }}" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="mb-3 text-center">
						<div class="form-selectgroup">
							<label class="form-selectgroup-item">
								<input type="checkbox" name="data" value="weddings" class="form-selectgroup-input" checked>
								<span class="form-selectgroup-label">{{ 'ea.calendar.weddings'|trans }}</span>
							</label>
							<label class="form-selectgroup-item">
								<input type="checkbox" name="data" value="testings" class="form-selectgroup-input" checked>
								<span class="form-selectgroup-label">{{ 'ea.calendar.testings'|trans }}</span>
							</label>
							<label class="form-selectgroup-item">
								<input type="checkbox" name="data" value="events" class="form-selectgroup-input" checked>
								<span class="form-selectgroup-label">{{ 'ea.calendar.events'|trans }}</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id='calendar'></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_javascript %}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			$(function() {
				// Get values from the cookie
				var calendarData = getCookie('calendarData');
				if (calendarData) {
					var values = calendarData.split(',');
					$('[name="data"]').prop("checked", false);
					values.forEach(function (el, i) {
						$('[name="data"][value="' + el + '"]').prop("checked", true);
					});
				}

				let calendar = new Calendar(document.getElementById('calendar'), {
					plugins: [ dayGridPlugin, timeGridPlugin, listPlugin, interactionPlugin, bootstrap5Plugin, momentPlugin ],
					timeZone: 'UTC',
					expandRows: true,
					aspectRatio: 2,
					height: 'auto',
					themeSystem: 'bootstrap5',
					locale: esLocale,
					initialView: 'dayGridMonth',
					headerToolbar: {
						left: 'prev,next',
						center: 'title',
						right: 'dayGridMonth,listWeek'
					},
					showNonCurrentDates: false,
					fixedWeekCount: false,
					allDaySlot: false,
					eventDurationEditable: false,
					slotLabelFormat: {
						hour: '2-digit',
						minute: '2-digit',
						meridiem: false
					},
					eventDisplay: 'block',
					eventTimeFormat: {
						hour: '2-digit',
						minute: '2-digit',
						meridiem: false
					},
					eventDidMount: function(info) {
						var popover = bootstrapPopover.getOrCreateInstance(info.el, {
							'html': true,
							'placement': 'auto',
							'title': info.event.extendedProps.fulltitle,
							'content': info.event.extendedProps.description,
							'trigger': 'hover'
						});
					},
					eventSources: [
						{
							url: "{{ path('admin_calendar_api') }}",
							extraParams: function() {
								var selectedData = [];
								$.each($('[name="data"]:checked'), function() {
									selectedData.push($(this).val());
								});
								return {
									data: selectedData
								};
							}
						}
					]
				});
				calendar.render();

				$('[name="data"]').on('change', function() {
					calendar.refetchEvents();
					// Set values into a cookie
					var selectedData = [];
					$.each($('[name="data"]:checked'), function() {
						selectedData.push($(this).val());
					});
					setCookie('calendarData', selectedData, 365);
				});
			});

			function setCookie(c_name, value, expiredays) {
				var exdate = new Date();
				exdate.setDate(exdate.getDate() + expiredays);
				var exStr = expiredays == null ? "" : ";expires=" + exdate;
				document.cookie = c_name + "=" + value + exStr;
			}
			function getCookie(c_name) {
				if (document.cookie.length > 0) {
					c_start = document.cookie.indexOf(c_name + "=");
					if (c_start != -1) { 
						c_start = c_start + c_name.length + 1;
						c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) {
							c_end = document.cookie.length;
							return document.cookie.substring(c_start, c_end);
						}
					} 
				}
				return null
			}
		});
</script>
{% endblock %}
