{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.contract.title'|trans }}{% endblock %}
{% block content_title %}{{ 'ea.contract.title'|trans }}{% endblock %}

{% block main %}
	{% if not user.professionalContract %}
		{{ form_start(form, {'attr': {'id': 'contractProfessional-form', 'enctype': 'multipart/form-data'}}) }}
	{% endif %}
		<div class='container-fluid'>
			
			<div class="row">
				{{ template|raw }}
			</div>
			
			{% if not user.professionalContract %}		
			<hr />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label required" for="form_professionalContract">{{ 'entities.user.fields.professionalContract'|trans }}</label>
						<div class="form-widget mb-3">
							<input type="file" id="form_professionalContract" name="contractProfessional[professionalContract]" required="required">
						</div>
					</div>
					
					{{ form_row(form['accept']) }}
					{{ form_row(form['send']) }}
				</div>
			</div>
			{% endif %}
			
		</div>
	{% if not user.professionalContract %}
		{{ form_end(form) }}
	{% endif %}
{% endblock %}
