{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.disponibility.title'|trans }}{% endblock %}
{% block content_title %}{{ 'ea.disponibility.title'|trans }}{% endblock %}

{% block main %}
	<div class="card mb-3">
		<div class="card-body">
			{{ form_start(form, {'attr': {'id': 'disponibility-form'}}) }}
			<div class="row">
				<div class="col-md-6">
					<div class="form-widget mb-3">
						{{ form_label(form['date']) }}
						{{ form_widget(form['date']) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-widget mb-3">
						{{ form_label(form['province']) }}
						{{ form_widget(form['province']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget">
						{{ form_widget(form.send) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
	
	{% if professionals is not null %}
		{% if professionals %}
			<div class="card mb-3">
				<div class="card-body">
					<div class="form-widget mb-3">
						<legend class="col-form-label required">{{ 'entities.professional.plural'|trans }}</legend>
						<div id="form_professionals" class="accordion">
							{% for i in 1..5 %}
								<div class="accordion-item">
									<h2 class="accordion-header" id="heading-{{ i }}">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ i }}" aria-expanded="false">
											{{ ('entities.user.fields.professionalTypes.' ~ i)|trans }}
										</button>
									</h2>
									<div id="collapse-{{ i }}" class="accordion-collapse collapse" data-bs-parent="#form_professionals" style="">
										<div class="accordion-body pt-0">
											{% set hasProfessionals = false %}
											{% for professional in professionals %}
												{% if 
													(professional.type == i and not professional.occupied) or
													(professional.type == null and i == 4 and not professional.occupied) or
													(professional.occupied and i == 5) %}
													{% set hasProfessionals = true %}
													<div class="form-check">
														<input type="checkbox" id="form_professionals_{{ loop.index-1 }}" name="form[professionals][]" class="form-check-input" value="{{ professional.id }}">
														<label class="form-check-label" for="form_professionals_{{ loop.index-1 }}">{{ professional.label|raw }}</label>
													</div>
												{% endif %}
											{% endfor %}
											{% if not hasProfessionals %}
												<p class="text-muted m-0">
													{{ 'ea.validateRequest.noProfessionals'|trans }}
												</p>
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<p class="m-0 text-muted text-center">{{ 'ea.reports.notFound'|trans }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}

{% block body_javascript %}
	{{ encore_entry_link_tags('form-type-date') }}
	{{ encore_entry_script_tags('form-type-date') }}
{% endblock body_javascript %}
