{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.actions.citacion'|trans }} - {{ wedding }}{% endblock page_title %}
{% block content_title %}{{ 'ea.actions.citacion'|trans }} - {{ wedding }}{% endblock content_title %}

{% block main %}
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.user.fields.name'|trans }}</label>
						<p class="form-widget mb-3">{{ wedding.client.name }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.user.fields.lastname'|trans }}</label>
						<p class="form-widget mb-3">{{ wedding.client.lastname }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.user.fields.tel1'|trans }}</label>
						{% if wedding.client.tel1 %}
							<p class="form-widget mb-3">{{ wedding.client.tel1 }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.user.fields.email'|trans }}</label>
						<p class="form-widget mb-3">{{ wedding.client.email }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.weddingDate'|trans }}</label>
						<p class="form-widget mb-3">{{ wedding.weddingDate|date('d/m/Y H:i') }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.meetingTime'|trans }}</label>
						{% if wedding.meetingTime %}
							<p class="form-widget mb-3">{{ wedding.meetingTime }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.weddingCity'|trans }}</label>
						{% if wedding.weddingCity %}
							<p class="form-widget mb-3">{{ wedding.weddingCity }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="form-label">{{ 'entities.province.singular'|trans }}</label>
						{% if wedding.weddingProvince %}
							<p class="form-widget mb-3">{{ wedding.weddingProvince }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.weddingAddress'|trans }}</label>
						<p class="form-widget mb-3">{{ wedding.weddingAddress }}</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.weddingComments'|trans }}</label>
						{% if wedding.weddingComments %}
							<p class="form-widget mb-3">{{ wedding.weddingComments }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.testingDate'|trans }}</label>
						{% if wedding.testingDate %}
							<p class="form-widget mb-3">{{ wedding.testingDate|date('d/m/Y H:i') }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.testingCity'|trans }}</label>
						{% if wedding.testingCity %}
							<p class="form-widget mb-3">{{ wedding.testingCity }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.testingAddress'|trans }}</label>
						{% if wedding.testingAddress %}
							<p class="form-widget mb-3">{{ wedding.testingAddress }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">{{ 'entities.wedding.fields.testingComments'|trans }}</label>
						{% if wedding.testingComments %}
							<p class="form-widget mb-3">{{ wedding.testingComments }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% if wedding.testingCitationSended or wedding.weddingCitationSended %}
		<div class="alert alert-info">
			<div class="d-flex">
				<div><i class="icon alert-icon ti ti-info-circle"></i></div>
				<div>
					<h4 class="alert-title">{{ 'ea.citacion.sended'|trans }}</h4>
					{% if wedding.testingCitationSended == true %}
						<div class="text-muted">{{ 'ea.citacion.testing'|trans }}</div>
					{% endif %}
					{% if wedding.weddingCitationSended == true %}
						<div class="text-muted">{{ 'ea.citacion.wedding'|trans }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	<div class="alert alert-warning">
		<div class="d-flex">
			<div><i class="icon alert-icon ti ti-alert-triangle"></i></div>
			<div>
				<h4 class="alert-title">{{ 'ea.citacion.warning'|trans }}</h4>
				<div class="text-muted">{{ 'ea.citacion.warningConfirm'|trans }}</div>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body">
			{{ form_start(form, {'attr': {'id': 'citacion-form'}}) }}
			<div class="row">
				<div class="col-md-12">
					<div class="form-widget mb-3">
						{{ form_label(form['extraEmails']) }}
						{{ form_widget(form['extraEmails']) }}
						<small class="form-text text-muted">{{ 'entities.configApp.fields.emailCCOHelp'|trans }}</small>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget mb-3">
						{{ form_label(form['template']) }}
						{{ form_widget(form['template']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget mb-3">
						{{ form_label(form['content']) }}
						{{ form_widget(form['content']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget">
						{{ form_widget(form.send) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block body_javascript %}
	{{ encore_entry_script_tags('form-type-select') }}
	{{ encore_entry_script_tags('form-type-texteditor') }}

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			$(function() {
				var selectTemplate = 'form_template';
				$('#' + selectTemplate)[0].tomselect.clear();
				$('#' + selectTemplate).on('change', function() {
					updateContent($('#' + selectTemplate).val());
				});
				updateContent($('#' + selectTemplate).val());
			});
		});
		function updateContent(templateId) {
			var content = '';
			if (templateId) {
				{% for template in templates %}
					if (templateId == {{ template.id }}) {
						var content = {{ template.template|json_encode()|raw }};
					}
				{% endfor %}
			}
			tinymce.get('form_content').setContent(content);
			tinymce.get('form_content').save();
		}
	</script>
{% endblock body_javascript %}