{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.actions.pendingRequest'|trans }} - {{ request }}{% endblock page_title %}
{% block content_title %}{{ 'ea.actions.pendingRequest'|trans }} - {{ request }}{% endblock content_title %}

{% block main %}
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.name'|trans }}</label>
						<p class="form-widget mb-3">{{ request.name }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.lastname'|trans }}</label>
						<p class="form-widget mb-3">{{ request.lastname }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.tel'|trans }}</label>
						{% if request.tel %}
							<p class="form-widget mb-3">{{ request.tel }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.email'|trans }}</label>
						<p class="form-widget mb-3">{{ request.email }}</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.weddingDate'|trans }}</label>
						<p class="form-widget mb-3">{{ request.weddingDate|date('d/m/Y H:i') }}</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.weddingCity'|trans }}</label>
						{% if request.weddingCity %}
							<p class="form-widget mb-3">{{ request.weddingCity }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="form-label">{{ 'entities.province.singular'|trans }}</label>
						{% if request.weddingProvince %}
							<p class="form-widget mb-3">{{ request.weddingProvince }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.weddingAddress'|trans }}</label>
						{% if request.weddingAddress %}
							<p class="form-widget mb-3">{{ request.weddingAddress }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="form-label">{{ 'entities.request.fields.comments'|trans }}</label>
						{% if request.comments %}
							<p class="form-widget mb-3">{{ request.comments }}</p>
						{% else %}
							<p class="form-widget mb-3">{{ include(ea.templatePath('label/null')) }}</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-warning">
		<div class="d-flex">
			<div><i class="icon alert-icon ti ti-alert-triangle"></i></div>
			<div>
				<h4 class="alert-title">{{ 'ea.pendingRequest.warning'|trans }}</h4>
				<div class="text-muted">{{ 'ea.pendingRequest.warningConfirm'|trans }}</div>
			</div>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-body">
			{{ form_start(form, {'attr': {'id': 'pendingRequest-form'}}) }}
			<div class="row">
				<div class="col-md-12">
					<div class="form-widget mb-3">
						{{ form_label(form['template']) }}
						{{ form_widget(form['template']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget mb-3">
						{{ form_label(form['content']) }}
						{{ form_widget(form['content']) }}
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-widget">
						{{ form_widget(form.send) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}

{% block body_javascript %}
	{{ encore_entry_script_tags('form-type-select') }}
	{{ encore_entry_script_tags('form-type-texteditor') }}

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			$(function() {
				var selectTemplate = 'form_template';

				$('#' + selectTemplate)[0].tomselect.clear();

				$('#' + selectTemplate).on('change', function() {
					updateContent($('#' + selectTemplate).val());
				});

				updateContent($('#' + selectTemplate).val());
			});
		});
		function updateContent(templateId) {
			var content = '';
			if (templateId) {
				{% for template in templates %}
					if (templateId == {{ template.id }}) {
						var content = {{ template.template|json_encode()|raw }};
					}
				{% endfor %}
			}
			tinymce.get('form_content').setContent(content);
			tinymce.get('form_content').save();
		}
	</script>
{% endblock body_javascript %}
