{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.home.title'|trans }}{% endblock %}
{% block content_title %}
<nav>
	<div class="nav nav-pills" id="nav-tab" role="tablist">
		<button class="nav-link active" id="nav-requests-tab" data-bs-toggle="tab" data-bs-target="#nav-requests" type="button" role="tab" aria-controls="nav-requests" aria-selected="true">
			{{ 'entities.request.plural'|trans }}
		</button>
		<button class="nav-link" id="nav-citaciones-tab" data-bs-toggle="tab" data-bs-target="#nav-citaciones" type="button" role="tab" aria-controls="nav-citaciones" aria-selected="false">
			{{ 'ea.home.citaciones'|trans }}
		</button>
		<button class="nav-link" id="nav-pagos-tab" data-bs-toggle="tab" data-bs-target="#nav-pagos" type="button" role="tab" aria-controls="nav-pagos" aria-selected="false">
			{{ 'ea.home.pagos'|trans }}
		</button>
	</div>
</nav>
{% endblock %}

{% block main %}
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab">
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="fas fa-fw fa-circle-question"></i> {{ 'entities.request.pluralComplex'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_1" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.fullname'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.weddingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.request.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for request in requests %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\RequestCrudController").setAction('detail').setEntityId(request.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.request.fields.fullname'|trans }}" class="text-left field-text">
											<span title="{{ request.fullname }}">{{ request.fullname }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ request.weddingFulladdress }}">{{ request.weddingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingDate'|trans }}" class="text-left field-datetime" data-sort="{{ request.weddingDate|date('c') }}">
											<time datetime="{{ request.weddingDate|date('c') }}" title="{{ request.weddingDate|date('r') }}">{{ request.weddingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="fas fa-fw fa-reply-all"></i> {{ 'entities.requestAnswered.plural'|trans }} - {{ 'entities.request.fields.callTodayAnswered'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_2" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.fullname'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.weddingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.request.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for request in requestsAnswered %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\RequestAnsweredCrudController").setAction('detail').setEntityId(request.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.request.fields.fullname'|trans }}" class="text-left field-text">
											<span title="{{ request.fullname }}">{{ request.fullname }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ request.weddingFulladdress }}">{{ request.weddingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingDate'|trans }}" class="text-left field-datetime" data-sort="{{ request.weddingDate|date('c') }}">
											<time datetime="{{ request.weddingDate|date('c') }}" title="{{ request.weddingDate|date('r') }}">{{ request.weddingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="fas fa-fw fa-square-check"></i> {{ 'entities.requestValidated.plural'|trans }} - {{ 'entities.request.fields.callTodayValidated'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_3" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.fullname'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.request.fields.weddingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.request.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for request in requestsValidated %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\RequestValidatedCrudController").setAction('detail').setEntityId(request.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.request.fields.fullname'|trans }}" class="text-left field-text">
											<span title="{{ request.fullname }}">{{ request.fullname }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ request.weddingFulladdress }}">{{ request.weddingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.request.fields.weddingDate'|trans }}" class="text-left field-datetime" data-sort="{{ request.weddingDate|date('c') }}">
											<time datetime="{{ request.weddingDate|date('c') }}" title="{{ request.weddingDate|date('r') }}">{{ request.weddingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="nav-citaciones" role="tabpanel" aria-labelledby="nav-citaciones-tab">
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="ti ti-calendar-plus"></i> {{ 'ea.home.citacionesTesting'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_4" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.client.singular'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.wedding.fields.testingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.wedding.fields.testingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for wedding in weddingsCitationTesting %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\WeddingCrudController").setAction('detail').setEntityId(wedding.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.client.singular'|trans }}" class="text-left field-text">
											<span title="{{ wedding.client }}">{{ wedding.client }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.testingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ wedding.testingFulladdress }}">{{ wedding.testingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.testingDate'|trans }}" class="text-left field-datetime" data-sort="{{ wedding.testingDate|date('c') }}">
											<time datetime="{{ wedding.testingDate|date('c') }}" title="{{ wedding.testingDate|date('r') }}">{{ wedding.testingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="ti ti-calendar-plus"></i> {{ 'ea.home.citacionesWedding'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_5" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.client.singular'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.wedding.fields.weddingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.wedding.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for wedding in weddingsCitationWedding %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\WeddingCrudController").setAction('detail').setEntityId(wedding.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.client.singular'|trans }}" class="text-left field-text">
											<span title="{{ wedding.client }}">{{ wedding.client }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.weddingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ wedding.weddingFulladdress }}">{{ wedding.weddingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.weddingDate'|trans }}" class="text-left field-datetime" data-sort="{{ wedding.weddingDate|date('c') }}">
											<time datetime="{{ wedding.weddingDate|date('c') }}" title="{{ wedding.weddingDate|date('r') }}">{{ wedding.weddingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="nav-pagos" role="tabpanel" aria-labelledby="nav-pagos-tab">
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="ti ti-coin"></i> {{ 'ea.home.pagosTesting'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_6" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.client.singular'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.wedding.fields.testingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.wedding.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for wedding in testingsPendientPayment %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\WeddingCrudController").setAction('detail').setEntityId(wedding.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.client.singular'|trans }}" class="text-left field-text">
											<span title="{{ wedding.client }}">{{ wedding.client }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.testingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ wedding.testingFulladdress }}">{{ wedding.testingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.testingDate'|trans }}" class="text-left field-datetime" data-sort="{{ wedding.testingDate|date('c') }}">
											<time datetime="{{ wedding.testingDate|date('c') }}" title="{{ wedding.testingDate|date('r') }}">{{ wedding.testingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card mb-3">
					<div class="card-header">
						<div class="card-title">
							<i class="ti ti-coin"></i> {{ 'ea.home.pagosWedding'|trans }}
						</div>
					</div>
					<div class="card-body">
						<table class="table table-hover table-vcenter table-mobile-md datatable" id="table_7" orderCol="2" orderDir="asc">
							<thead>
								<tr>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.client.singular'|trans }}</span>
									</th>
									<th class="field-virtual header-for-field-text text-left">
										<span>{{ 'entities.wedding.fields.weddingFulladdress'|trans }}</span>
									</th>
									<th class="header-for-field-datetime text-left">
										<span>{{ 'entities.wedding.fields.weddingDate'|trans }}</span>
									</th>
								</tr>
							</thead>
							<tbody>
								{% for wedding in weddingsPendientPayment %}
									{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\WeddingCrudController").setAction('detail').setEntityId(wedding.id) %}
									<tr class="cursor-pointer clickable-row" data-href="{{ url }}">
										<td data-label="{{ 'entities.client.singular'|trans }}" class="text-left field-text">
											<span title="{{ wedding.client }}">{{ wedding.client }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.weddingFulladdress'|trans }}" class="text-left field-text">
											<span title="{{ wedding.weddingFulladdress }}">{{ wedding.weddingFulladdress }}</span>
										</td>
										<td data-label="{{ 'entities.wedding.fields.weddingDate'|trans }}" class="text-left field-datetime" data-sort="{{ wedding.weddingDate|date('c') }}">
											<time datetime="{{ wedding.weddingDate|date('c') }}" title="{{ wedding.weddingDate|date('r') }}">{{ wedding.weddingDate|date('d/m/Y H:i') }}</time>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block body_javascript %}
	{{ encore_entry_link_tags('datatable') }}
	{{ encore_entry_script_tags('datatable') }}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			$(function() {
				$(".clickable-row").click(function() {
					window.location = $(this).data("href");
				});
			});
		});
	</script>
{% endblock body_javascript %}
