{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.actions.rateServices'|trans }} - {{ rate }}{% endblock %}
{% block content_title %}{{ 'ea.actions.rateServices'|trans }} - {{ rate }}{% endblock %}

{% block page_actions %}
	<a class="btn btn-secondary" href="{{ ea_url().setController("App\\Controller\\Admin\\Cruds\\RateCrudController").setAction('index') }}">
		<i class="icon ti ti-chevron-left"></i> <span class="action-label">{{ 'action.index'|trans({}, 'EasyAdminBundle') }}</span>
	</a>
	{{ form_widget(form['save']) }}
{% endblock %}

{% block main %}
	{{ form_start(form, {'attr': {'id': 'rateServices-form'}}) }}
	<div class="row">
		<div class="field-form_panel">
			<div class="card mb-3">
				<div class="card-body">
					<div class="row">
						{% for service in services %}
							<div class="col-md-4 mb-4">
								<h3 class="mb-2 pb-2 border-bottom border-3">{{ service }}</h3>
								<div class="field-text form-group">
									{{ form_label(form['priceBooking-' ~ service.id]) }}
									<div class="form-widget mb-3">
										{{ form_widget(form['priceBooking-' ~ service.id]) }}
									</div>
								</div>
								<div class="field-text form-group">
									{{ form_label(form['priceTesting-' ~ service.id]) }}
									<div class="form-widget mb-3">
										{{ form_widget(form['priceTesting-' ~ service.id]) }}
									</div>
								</div>
								<div class="field-text form-group">
									{{ form_label(form['priceWedding-' ~ service.id]) }}
									<div class="form-widget mb-3">
										{{ form_widget(form['priceWedding-' ~ service.id]) }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
