{% extends '@EasyAdmin/layout.html.twig' %}

{% block page_title %}{{ 'ea.actions.testingSign'|trans }} - {{ wedding }}{% endblock page_title %}
{% block content_title %}{{ 'ea.actions.testingSign'|trans }} - {{ wedding }}{% endblock content_title %}

{% block main %}
	<div class="card mb-3">
		<div class="card-body">
			<div class="row">
				<div id="signature-container" data-id="{{ wedding.id }}" class="col-md-12">
					<label class="control-label">{{ 'ea.testingSign.title'|trans }}</label>
					<p class="text-muted">{{ 'ea.testingSign.text1'|trans }}</p>
					<p class="text-muted">{{ 'ea.testingSign.text2'|trans }}</p>
					<p class="text-muted">{{ 'ea.testingSign.text3'|trans }}</p>
					<div id="signature">
						<div class="signature-body">
							<canvas></canvas>
						</div>
						<div class="signature-footer">
							<div class="signature-actions">
								<div class="row">
									<div class="col-md-12 text-center">
										<button type="button" class="btn btn-block btn-danger" data-action="clear">
											<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
										</button>
										<button type="button" class="btn btn-block btn-success" data-action="save">
											<i class="icon ti ti-device-floppy"></i> {{ 'action.create'|trans({}, 'EasyAdminBundle') }}
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block body_javascript %}
	{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\WeddingCrudController").setAction('index') %}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			var wrapper = document.getElementById("signature");
			if (wrapper) {
				var canvas = wrapper.querySelector("canvas");
				var clearButton = wrapper.querySelector("[data-action=clear]");
				var saveButton = wrapper.querySelector("[data-action=save]");
				
				canvas.setAttribute("width", $(canvas).parent().width());
				canvas.setAttribute("height", 300);
				
				var signaturePad = new SignaturePad(canvas, {
					backgroundColor: '#FFF'
				});

				clearButton.addEventListener("click", function (event) {
					signaturePad.clear();
				});

				saveButton.addEventListener("click", function (event) {
					$.post("{{ path('admin_testingSign') }}", {
							id: $("#signature-container").data("id"),
							sign: signaturePad.toDataURL().replace('data:image/png;base64,', '')
						}
					).done(function(data) {
						window.location.href = '{{ url|raw }}';
					});
				});
			}
		});
	</script>
{% endblock %}
