{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}" data-turbo="false">
<head>
	{% block head_metas %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="generator" content="EasyAdmin" />
	{% endblock head_metas %}

	{% set page_title_block_output %}{% block page_title %}{{ block('content_title') }}{% endblock %}{% endset %}
	<title>{{ page_title_block_output|striptags|raw }}</title>

	{% block head_stylesheets %}
	{% endblock %}

	{% block configured_stylesheets %}
		{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea.assets.cssAssets ?? [] }, with_context = false) }}
		{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
	{% endblock %}

	{% block head_favicon %}
		<link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
	{% endblock %}

	{% block head_javascript %}
	{% endblock head_javascript %}

	{% block configured_javascripts %}
		{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea.assets.jsAssets ?? [] }, with_context = false) }}
		{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
	{% endblock %}

	{% if 'rtl' == ea.i18n.textDirection %}
	{% endif %}

	{% block configured_head_contents %}
		{% for htmlContent in ea.assets.headContents ?? [] %}
			{{ htmlContent|raw }}
		{% endfor %}
	{% endblock %}
</head>

{% block body %}
	{% set bodyClassSidebar = app.request.cookies.get('ea/sidebar') == "small" ? 'ea-sidebar-small' : 'ea-sidebar-big' %}
	{% set bodyClassColorScheme = app.request.cookies.get('ea/colorScheme') == "dark" ? 'ea-dark-scheme theme-dark' : 'ea-light-scheme theme-light' %}
	<body
		id="{% block body_id %}{% endblock %}"
		class="{{ bodyClassSidebar }} {{ bodyClassColorScheme }} {% block body_class %}{% endblock %}"
		data-ea-dark-scheme-is-enabled="{{ ea.dashboardHasDarkModeEnabled ? 'true' : 'false' }}"
	>
	{% block javascript_page_layout %}
		{{ encore_entry_script_tags('page-sidebar') }}
	{% endblock javascript_page_layout %}
	{% block javascript_page_color_scheme %}
		{{ encore_entry_script_tags('page-color-scheme') }}
	{% endblock javascript_page_color_scheme %}

	{% block wrapper_wrapper %}
		{% block flash_messages %}
			{{ include(ea.templatePath('flash_messages')) }}
		{% endblock flash_messages %}

		{% set impersonator_permission = constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined ? 'IS_IMPERSONATOR' : 'ROLE_PREVIOUS_ADMIN' %}

		{% set user_menu_dropdown %}
			<div class="nav-item dropdown">
				<a class="nav-link d-flex lh-1 text-reset p-0" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">
					{% if ea.userMenu.avatarDisplayed and ea.userMenu.avatarUrl %}
						<span class="avatar avatar-xs" style="background-image: url('{{ ea.userMenu.avatarUrl }}')"></span>
					{% else %}
						<span class="avatar avatar-xs">
							<i class="fas {{ ea.user is not null ? 'fa-user' : 'fa-user-slash' }}"></i>
						</span>
					{% endif %}
					<div class="d-none d-xl-block ps-2">
						<div>{{ ea.user is null ? 'user.anonymous'|trans(domain = 'EasyAdminBundle') : ea.userMenu.name }}</div>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
					{% block user_menu %}
						<label class="dropdown-item form-switch">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<i class="icon ti ti-layout-sidebar"></i>
							</span>
							<span class="me-2">{{ 'ea.settings.smallMode'|trans }}</span>
							<input class="form-check-input m-0 ms-auto" type="checkbox" data-ea-sidebar="true" {% if app.request.cookies.get('ea/sidebar') == "small" %}checked{% endif %}>
						</label>
						{% if ea.dashboardHasDarkModeEnabled %}
							<label class="dropdown-item form-switch">
								<span class="nav-link-icon d-md-none d-lg-inline-block">
									<i class="icon ti ti-moon"></i>
								</span>
								<span class="me-2">{{ 'ea.settings.darkMode'|trans }}</span>
								<input class="form-check-input m-0 ms-auto" type="checkbox" data-ea-color-scheme="true" {% if app.request.cookies.get('ea/colorScheme') == "dark" %}checked{% endif %}>
							</label>
						{% endif %}
						{% if ea.userMenu.items|length > 0 %}
							{% for item in ea.userMenu.items %}
								{% if item.isMenuSection and not loop.first %}
									<div class="dropdown-divider"></div>
								{% elseif not item.isMenuSection %}
									<a href="{{ item.linkUrl }}" class="dropdown-item {{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}">
										{% if item.icon is not empty %}
											<span class="nav-link-icon d-md-none d-lg-inline-block">
												<i class="{{ item.icon }}"></i>
											</span>
										{% endif %}
										<span>{{ item.label }}</span>
									</a>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endblock user_menu %}
				</div>
			</div>
		{% endset %}

		<div class="wrapper">
			{% block wrapper %}
				<aside class="navbar navbar-vertical navbar-expand-lg navbar-transparent hide-scroll">
					{% block sidebar %}
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
								<span class="navbar-toggler-icon"></span>
							</button>
							{% block header %}
								{% block header_navbar %}
									{% block header_logo %}
										<h1 class="navbar-brand navbar-brand-autodark">
											<a title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
												<span class="logo-custom">{{ ea.dashboardTitle|raw }}</span>
											</a>
										</h1>
									{% endblock header_logo %}
								{% endblock header_navbar %}
							{% endblock header %}
							<div class="navbar-nav flex-row d-lg-none">
								{{ user_menu_dropdown }}
							</div>
							{% block main_menu_wrapper %}
								{{ include(ea.templatePath('main_menu')) }}
							{% endblock main_menu_wrapper %}
						</div>
					{% endblock sidebar %}
				</aside>

				<header class="navbar navbar-expand-md navbar-transparent d-none d-lg-flex d-print-none">
					{% block responsive_header %}
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="navbar-nav flex-row order-md-last">
								{{ user_menu_dropdown }}
							</div>
							<div class="collapse navbar-collapse" id="navbar-menu">
								{% set has_search = ea.crud is not null and ea.crud.isSearchEnabled %}
								{% if has_search %}
									{% block search %}
										<form class="form-action-search" method="get">
											{% block search_form %}
												{% block search_form_filters %}
													{% for field, array in ea.search.appliedFilters %}
														{% for key, value in array %}
															{# This code re-applies your filters on searches, an iterable check is needed in cases we have more than one object for a filter #}
															{% if value is iterable %}
																{% for index, iterValue in value %}
																	{# This sub-level iterable check is needed in cases we have more complex filters like the DateTimeFilter cf. issue #5038 #}
																	{% if iterValue is iterable %}
																		{% for subIndex, subIterValue in iterValue %}
																			<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}][{{ subIndex }}]" value="{{ subIterValue }}">
																		{% endfor %}
																	{% else %}
																		<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}]" value="{{ iterValue }}">
																	{% endif %}
																{% endfor %}
															{% else %}
																<input type="hidden" name="filters[{{ field }}][{{ key }}]" value="{{ value }}">
															{% endif %}
														{% endfor %}
													{% endfor %}
												{% endblock %}

												<input type="hidden" name="crudAction" value="index">
												<input type="hidden" name="crudControllerFqcn" value="{{ ea.request.query.get('crudControllerFqcn') }}">
												<input type="hidden" name="menuIndex" value="{{ ea.request.query.get('menuIndex') }}">
												<input type="hidden" name="submenuIndex" value="{{ ea.request.query.get('submenuIndex') }}">
												<input type="hidden" name="page" value="1">


												<div class="input-icon">
													<span class="input-icon-addon">
														<i class="ti ti-search"></i>
													</span>
													<input type="text" class="form-control" placeholder="{{ 'action.search'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}" name="query" value="{{ app.request.get('query') ?? '' }}" spellcheck="false" autocorrect="false" onInput="this.parentNode.dataset.value=this.value"{% if ea.crud.currentAction == 'index' and ea.crud.autofocusSearch == true %} autofocus="autofocus"{% endif %}>
												</div>
											{% endblock search_form %}
										</form>
									{% endblock search %}
								{% endif %}
							</div>
						</div>
					{% endblock responsive_header %}
				</header>

				{% set has_search = ea.crud is not null and ea.crud.isSearchEnabled %}
				{% if has_search %}
					{% block responsive_search %}
						<div class="container-fluid">
							<div class="d-flex d-lg-none d-print-none">
								<form class="form-action-search w-100" method="get">
									{% block responsive_search_form %}
										{% block responsive_search_form_filters %}
											{% for field, array in ea.search.appliedFilters %}
												{% for key, value in array %}
													{# This code re-applies your filters on searches, an iterable check is needed in cases we have more than one object for a filter #}
													{% if value is iterable %}
														{% for index, iterValue in value %}
															{# This sub-level iterable check is needed in cases we have more complex filters like the DateTimeFilter cf. issue #5038 #}
															{% if iterValue is iterable %}
																{% for subIndex, subIterValue in iterValue %}
																	<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}][{{ subIndex }}]" value="{{ subIterValue }}">
																{% endfor %}
															{% else %}
																<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}]" value="{{ iterValue }}">
															{% endif %}
														{% endfor %}
													{% else %}
														<input type="hidden" name="filters[{{ field }}][{{ key }}]" value="{{ value }}">
													{% endif %}
												{% endfor %}
											{% endfor %}
										{% endblock %}

										<input type="hidden" name="crudAction" value="index">
										<input type="hidden" name="crudControllerFqcn" value="{{ ea.request.query.get('crudControllerFqcn') }}">
										<input type="hidden" name="menuIndex" value="{{ ea.request.query.get('menuIndex') }}">
										<input type="hidden" name="submenuIndex" value="{{ ea.request.query.get('submenuIndex') }}">
										<input type="hidden" name="page" value="1">


										<div class="input-icon">
											<span class="input-icon-addon">
												<i class="ti ti-search"></i>
											</span>
											<input type="text" class="form-control" placeholder="{{ 'action.search'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}" name="query" value="{{ app.request.get('query') ?? '' }}" spellcheck="false" autocorrect="false" onInput="this.parentNode.dataset.value=this.value"{% if ea.crud.currentAction == 'index' and ea.crud.autofocusSearch == true %} autofocus="autofocus"{% endif %}>
										</div>
									{% endblock responsive_search_form %}
								</form>
							</div>
						</div>
					{% endblock responsive_search %}
				{% endif %}

				<div class="page-wrapper">
					{% block content %}
						{% block content_header_wrapper %}
							{% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
							<div class="container-fluid">
								{% block content_header %}
									<div class="page-header d-print-none">
										<div class="row align-items-center">
											<div class="col-xxl-auto col-12">
												<h2 class="page-title">
													{% block content_title %}{% endblock %}
													{% block content_help %}
														{% if has_help_message %}
															<i class="icon ti ti-help" data-bs-toggle="popover" data-bs-custom-class="ea-content-help-popover" data-bs-content="{{ ea.crud.helpMessage|e('html_attr') }}"></i>
														{% endif %}
													{% endblock %}
												</h2>
											</div>
											{% block page_actions_wrapper %}
												<div class="col-auto ms-auto d-print-none">
													{% block page_actions %}{% endblock %}
												</div>
											{% endblock %}
										</div>
									</div>
								{% endblock content_header %}
							</div>
						{% endblock content_header_wrapper %}

						<div class="page-body">
							<div class="container-fluid">
								{% block main %}{% endblock %}
							</div>
						</div>

						{% block content_footer_wrapper %}
							{% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
							{% if content_footer is not empty %}
								<footer class="footer footer-transparent d-print-none">
									{{ content_footer }}
								</footer>
							{% endif %}
						{% endblock %}
					{% endblock content %}
				</div>
			{% endblock wrapper %}
		</div>
	{% endblock wrapper_wrapper %}

	{% block body_javascript %}{% endblock body_javascript %}

	{% block configured_body_contents %}
		{% for htmlContent in ea.assets.bodyContents ?? [] %}
			{{ htmlContent|raw }}
		{% endfor %}
	{% endblock %}
	</body>
{% endblock body %}
</html>
