{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
<div class="collapse navbar-collapse" id="navbar-menu">
	{% block main_menu_before %}{% endblock %}
	<ul class="navbar-nav pt-lg-3">
		{% block main_menu %}
			{% for menuItem in ea.mainMenu.items %}
				{% block menu_item %}
					<li class="{{ menuItem.isMenuSection ? 'nav-header' : 'nav-item' }} {{ menuItem.hasSubItems ? 'dropdown' }} {{ ea.mainMenu.isSelected(menuItem) or ea.mainMenu.isExpanded(menuItem) ? 'active' }}">
						{{ _self.render_menu_item(menuItem, false) }}

						{% if menuItem.hasSubItems %}
							<div class="dropdown-menu {{ ea.mainMenu.isExpanded(menuItem) ? 'show' }}">
								{% for menuSubItem in menuItem.subItems %}
									{% block menu_subitem %}
										{{ _self.render_menu_item(menuSubItem, true) }}
									{% endblock menu_subitem %}
								{% endfor %}
							</div>
						{% endif %}
					</li>
				{% endblock menu_item %}
			{% endfor %}
		{% endblock main_menu %}
	</ul>
	{% block main_menu_after %}{% endblock %}
</div>

{% macro render_menu_item(item, isChild) %}
	{% if item.isMenuSection %}
		{% if item.icon is not empty %}
			<span class="nav-link-icon d-md-none d-lg-inline-block">
				<i class="{{ item.icon }}"></i>
			</span>
		{% endif %}
		<span class="{{ item.cssClass }}">{{ item.label|raw }}</span>
		{% if item.badge %}
			<span class="badge badge-pill ms-2 {{ item.badge.cssClass }}" style="{{ item.badge.htmlStyle }}">{{ item.badge.content }}</span>
		{% endif %}
	{% else %}
		<a href="{{ item.hasSubItems ? '#' : item.linkUrl }}" title="{{ item.label|raw }}" class="
			{{ isChild ? 'dropdown-item' : 'nav-link' }}
			{{ item.hasSubItems ? 'dropdown-toggle' }}
			{{ ea.mainMenu.isExpanded(item) ? 'show' }}
			{{ ea.mainMenu.isSelected(item) ? 'active' }}
			{{ item.cssClass }}"
			{% if item.hasSubItems %}data-bs-toggle="dropdown" data-bs-auto-close="false" role="button" aria-expanded="{{ ea.mainMenu.isExpanded(item) ? 'true' : 'false' }}"{% endif %}
			target="{{ item.linkTarget }}" rel="{{ item.linkRel }}">
			{% if item.icon is not empty %}
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="{{ item.icon }}"></i>
				</span>
			{% endif %}
			<span class="nav-link-label">{{ item.label|raw }}</span>
			{% if item.badge %}
				<span class="badge badge-pill ms-2 {{ item.badge.cssClass }}" style="{{ item.badge.htmlStyle }}">{{ item.badge.content }}</span>
			{% endif %}
		</a>
	{% endif %}
{% endmacro %}
