table td.actions,
table td.field-datetime {
	white-space: nowrap;
}
table td.actions {
	text-align: right;
}
table td.actions a:hover {
	text-decoration: none;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
	width: 50%;
	float: left;
	padding-top: 0.85em;
}
.dataTables_wrapper .dataTables_paginate a {
	cursor: pointer;
	text-decoration: none;
	padding: 0 5px;
}