// Tabler
$primary: #FD7272;
$font-google: 'Inter';

@import "@tabler/core";
@import url(https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css);

// Helpers
.hide-scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
	display: none;
}

// Darkmode
.popover-header {
	color: var(--tblr-dark) !important;
}

// Sidebar
@media (min-width: 992px) {
	.ea-sidebar-small .nav-link-icon {
		margin-right: 0;
	}
	.ea-sidebar-small .nav-link-label {
		display: none;
	}
	.ea-sidebar-small .navbar-vertical.navbar-expand-lg {
		width: 4.5rem;
	}
	.ea-sidebar-small .navbar-expand-lg.navbar-vertical ~ .navbar,
	.ea-sidebar-small .navbar-expand-lg.navbar-vertical ~ .page-wrapper {
		margin-left: 4.5rem;
	}
	.ea-sidebar-small .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-toggle::after {
		display: none;
	}
	.ea-sidebar-small .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu .dropdown-item {
		padding: 0.5rem 1.5rem;
	}
}
.logo-custom img {
	max-height: 40px;
}

#navbar-menu .nav-link,
#navbar-menu .dropdown-item {
	&:hover,
	&:focus {
		color: $dropdown-link-hover-color !important;
		@include gradient-bg($dropdown-link-hover-bg);
	}

	&.active,
	&:active {
		color: $dropdown-link-active-color !important;
		@include gradient-bg($dropdown-link-active-bg);
	}

	&.disabled,
	&:disabled {
		color: $dropdown-link-disabled-color !important;
		background-image: if($enable-gradients, none, null);
	}
}
.ea-sidebar-small .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu {
	border-radius: 0;
}
.theme-light.ea-sidebar-small .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu {
	background-color: var(--tblr-gray-200);
}
.theme-dark.ea-sidebar-small .navbar-vertical.navbar-expand-lg .navbar-collapse .dropdown-menu {
	background-color: var(--tblr-gray-900);
}

// Media
.media-remove {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
	width: 1.25rem;
	height: 1.25rem;
	background-color: $danger;
	border-radius: $border-radius;
	text-align: center;
	color: $white;
	font-size: 20px;
	z-index: 2;
}
.media-iframe {
	min-height: 700px;
	width: 100%;
}

// BasicLightbox
.basicLightbox {
	z-index: 9999;
}
.basicLightbox__placeholder {
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
}
.basicLightbox__placeholder img {
	background: white;
	padding: 25px;
}

// noUiSlider
.noUi-horizontal {
	margin: 10px 0;
}
.noUi-horizontal .noUi-handle {
	width: 20px !important;
	height: 20px !important;
	top: -2px !important;
	cursor: pointer;
}
.noUi-horizontal .noUi-handle-lower {
	right: -16px !important;
}
.noUi-horizontal .noUi-handle-upper {
	right: -5px !important;
}
.noUi-horizontal .noUi-tooltip {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}
.noUi-horizontal .noUi-handle:hover .noUi-tooltip {
	opacity: 1;
}
.noUi-handle::before,
.noUi-handle::after {
	display: none !important;
}

// TinyMCE
.tox-tinymce {
	border-radius: $input-border-radius !important;
}

// CodeMirror
.CodeMirror-wrap {
	border: $input-border-width solid $input-border-color !important;
	border-radius: $input-border-radius !important;
}

// TomSelect
.plugin-dropdown_input .focus ~ .ts-dropdown .dropdown-input {
	border-color: $input-border-color !important;
	box-shadow: $input-focus-box-shadow !important;
	border-radius: $input-border-radius !important;
}
@media not print {
	.theme-dark .ts-dropdown,
	.theme-dark .ts-input,
	.theme-dark .ts-input input,
	.theme-dark .plugin-dropdown_input .dropdown-input {
		color: #fafbfc !important;
	}
	.theme-dark .ts-dropdown,
	.theme-dark .ts-dropdown.form-control,
	.theme-dark .ts-dropdown.form-select {
		background-color: var(--tblr-body-bg);
	}
	.theme-dark .plugin-dropdown_input .dropdown-input {
		border-color: var(--tblr-body-bg);
	}
}

/* Flatpickr */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: $primary !important;
	border-color: $primary !important;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
	-webkit-box-shadow: -10px 0 0 $primary !important;
	box-shadow: -10px 0 0 $primary !important;
}
.flatpickr-day.week.selected {
	border-radius: 0;
	-webkit-box-shadow: -5px 0 0 $primary, 5px 0 0 $primary !important;
	box-shadow: -5px 0 0 $primary, 5px 0 0 $primary !important;
}

/* Fullcalendar */
.fc .fc-scrollgrid-section-sticky > * {
	background: transparent !important;
}

/* SignaturePad */
.signature-body {
	border: solid 2px #ABABAB;
	margin: 25px 0;
}
