{% if field.value %}
	<a href="{{ field.value }}" target="_blank" style="text-decoration: none;">
		<i class="icon ti ti-file"></i>
	</a>
{% else %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
