{% if field.value|length %}
	<ul class="list-unstyled mb-0">
	{% for val in field.value %}
		{% set url = ea_url().setController("App\\Controller\\Admin\\Cruds\\ProfessionalCrudController").setAction('detail').setEntityId(val.id) %}
		<li>
			<a href="{{ url }}">{{ val }}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
