{% if field.value|length %}
	<ul class="list-unstyled mb-0">
	{% for val in field.value %}
		<li>
			{{ val }}
		</li>
	{% endfor %}
	</ul>
{% else %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
