{% if field.value|length %}
	<ul class="list-unstyled mb-0">
	{% for val in field.value %}
		<li class="mb-2">
			<strong>{{ val }}</strong>
			<ul class="list-unstyled">
				{% if not is_granted('ROLE_PROFESSIONAL') %}
					<li>{{ 'entities.rateService.fields.priceBooking'|trans }}: {{ val.priceBooking|price }} €</li>
				{% endif %}
				<li>{{ 'entities.rateService.fields.priceTesting'|trans }}: {{ val.priceTesting|price }} €</li>
				<li>{{ 'entities.rateService.fields.priceWedding'|trans }}: {{ val.priceWedding|price }} €</li>
			</ul>
		</li>
	{% endfor %}
	</ul>
{% else %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
