{% if field.value|length %}
	<ul class="list-unstyled mb-0">
	{% for val in field.value %}
		<li style="margin-bottom: 15px;">
			{% set priceBooking = 0 %}
			{% set priceTesting = 0 %}
			{% set priceWedding = 0 %}

			{% if val.professional.professionalRate %}
				{% for rateService in val.professional.professionalRate.rateServices %}
					{% if rateService.service.id == val.service.id %}
						{% if not is_granted('ROLE_PROFESSIONAL') %}
							{% set priceBooking = rateService.priceBooking * val.count %}
						{% endif %}
						{% set priceTesting = rateService.priceTesting * val.count %}
						{% set priceWedding = rateService.priceWedding * val.count %}
					{% endif %}
				{% endfor %}
			{% endif %}

			{% if val.wedding.testingExtraPayment and priceTesting %}
				{% set priceTesting = priceTesting + val.wedding.testingExtraPayment %}
			{% endif %}
			{% if val.wedding.weddingExtraPayment and priceWedding %}
				{% set priceWedding = priceWedding + val.wedding.weddingExtraPayment %}
			{% endif %}
			
			{% set priceTotal = priceWedding + priceTesting + priceBooking %}

			<strong>{{ val.count }} {{ val.service }}:</strong> {{ priceTotal|price }} € ({{ val.professional }})
			{% if priceBooking and not is_granted('ROLE_PROFESSIONAL') %}
			<p style="margin: 0 0 0 15px;">
				<small>- {{ 'entities.rateService.fields.priceBooking'|trans }}: {{ priceBooking|price }} €</small>
			</p>
			{% endif %}
			{% if priceTesting %}
			<p style="margin: 0 0 0 15px;">
				<small>- {{ 'entities.rateService.fields.priceTesting'|trans }}: {{ priceTesting|price }} €</small>
			</p>
			{% endif %}
			{% if priceWedding %}
			<p style="margin: 0 0 0 15px;">
				<small>- {{ 'entities.rateService.fields.priceWedding'|trans }}: {{ priceWedding|price }} €</small>
			</p>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% else %}
	{{ include(ea.templatePath('label/null')) }}
{% endif %}
