{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}

{% trans_default_domain ea.i18n.translationDomain %}

{% block body_id 'ea-detail-' ~ entity.name ~ '-' ~ entity.primaryKeyValue %}
{% block body_class 'ea-detail ea-detail-' ~ entity.name %}

{% set ea_field_assets = ea.crud.fieldAssets(constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Crud::PAGE_DETAIL')) %}

{% block configured_head_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.headContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_body_contents %}
	{{ parent() }}
	{% for htmlContent in ea_field_assets.bodyContents %}
		{{ htmlContent|raw }}
	{% endfor %}
{% endblock %}

{% block configured_stylesheets %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea_field_assets.cssAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block configured_javascripts %}
	{{ parent() }}
	{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea_field_assets.jsAssets }, with_context = false) }}
	{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea_field_assets.webpackEncoreAssets }, with_context = false) }}
{% endblock %}

{% block content_title %}
	{%- apply spaceless -%}
		{% set custom_page_title = ea.crud.customPageTitle(pageName, entity ? entity.instance : null) %}
		{{ custom_page_title is null
			? ea.crud.defaultPageTitle|trans(ea.i18n.translationParameters, 'EasyAdminBundle')
			: (custom_page_title|trans(ea.i18n.translationParameters))|raw }}
	{%- endapply -%}
{% endblock %}

{% block page_actions %}
	{% for action in entity.actions %}
		{{ include(action.templatePath, { action: action }, with_context = false) }}
	{% endfor %}
{% endblock %}

{% block content_footer_wrapper '' %}

{% block main %}
	{% block detail_fields %}
		{% set form_panel_is_already_open = false %}
		{% for field in entity.fields %}
			{% set is_form_field_panel = 'field-form_panel' in field.cssClass %}

			{% if is_form_field_panel or (loop.first and not is_form_field_panel) %}
				{% if form_panel_is_already_open %}
					{{ _self.close_form_field_panel() }}
					{% set form_panel_is_already_open = false %}
				{% endif %}

				{{ _self.open_form_field_panel(is_form_field_panel ? field : null) }}
				{% set form_panel_is_already_open = true %}
			{% endif %}

			{% block detail_field %}
				{% if not is_form_field_panel %}
					{{ _self.render_field(entity, field) }}
				{% endif %}
			{% endblock %}
		{% endfor %}

		{{ _self.close_form_field_panel() }}
	{% endblock %}

	{% block delete_form %}
		{{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
	{% endblock delete_form %}
{% endblock %}

{% macro open_form_field_panel(field = null) %}
	{% set panel_name = field is null ? null : 'content-' ~ field.uniqueId %}
	{% set collapsible = field is null ? false : field.customOption('collapsible') %}
	{% set collapsed = field is null ? false : field.customOption('collapsed') %}
	{% set panel_icon = field is null ? null : (field.customOptions.get('icon')|default(false)) %}
	{% set panel_label = field is null ? null : field.label %}
	{% set panel_help = field is null ? null : field.help|default(false)%}
	{% set panel_has_header = collapsible or panel_icon or panel_label or panel_help %}

	<div class="{{ field.cssClass ?? '' }}">
		<div class="card mb-3">
			{% if panel_has_header %}
				<div class="card-header {{ collapsible ? 'collapsible' }} {{ panel_help is not empty ? 'with-help' }}">
					<div class="card-title">
						{% if collapsible %}
						<a href="#{{ panel_name }}" data-bs-toggle="collapse"
							class="link-dark text-decoration-none {{ collapsed ? 'collapsed' }}"
							aria-expanded="{{ collapsed ? 'false' : 'true' }}" aria-controls="{{ panel_name }}"
						>
						{% endif %}
							{% if panel_icon %}
								<i class="{{ panel_icon }}"></i>
							{% endif %}
							{{ panel_label|raw }}
						{% if collapsible %}
						</a>
						{% endif %}

						{% if panel_help %}
							<div class="page-subtitle">{{ panel_help|raw }}</div>
						{% endif %}
					</div>
				</div>
			{% endif %}

			<div {% if collapsible %}id="{{ panel_name }}"{% endif %} class="card-body {{ collapsible ? 'collapse' }} {{ collapsible and not collapsed ? 'show'}}">
{% endmacro %}

{% macro close_form_field_panel() %}
		</div>
	</div>
</div>
{% endmacro %}

{% macro render_field(entity, field) %}
	<div class="{{ field.cssClass }}">
		<h4>
			{{ field.label|raw }}
			{% if field.help is not empty %}
				<a tabindex="0" class="data-help" data-bs-toggle="popover" data-bs-custom-class="ea-content-help-popover" data-bs-animation="true" data-bs-html="true" data-bs-placement="right" data-bs-trigger="focus" data-bs-content="{{ field.help|e('html_attr') }}">
					<i class="icon ti ti-help"></i>
				</a>
			{% endif %}
		</h4>
		<div class="mb-3">
			{{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
		</div>
	</div>
{% endmacro %}
