{% extends 'public/base.html.twig' %}

{% block page_title %}{{ 'ea.contract.title'|trans }} - {{ user }}{% endblock page_title %}
{% block content_title %}{{ 'ea.contract.title'|trans }} - {{ user }}{% endblock content_title %}

{% block main %}
	<div class="row">
		<div class="col-md-12">
			{% if user.professionalContractDate %}
				<div class="alert alert-info">
					<div class="d-flex">
						<div><i class="icon alert-icon ti ti-info-circle"></i></div>
						<div>
							<h4 class="alert-title">
								{{ 'entities.user.fields.professionalContractDate'|trans }}: {{ user.professionalContractDate|format_datetime('full', 'none', locale='es')}}
							</h4>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-12">
					{{ template|raw }}
				</div>
			</div>
			{% if user.professionalContract %}
			<hr />
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="btn btn-outline-secondary" target="_blank" href="{{ user.professionalContract }}">
						<i class=" icon ti ti-file-text"></i> {{ 'ea.contract.download'|trans }}
					</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
