{% extends 'public/base.html.twig' %}

{% block body_class 'home' %}
{% block page_title %}{{ 'public.home.title'|trans }}{% endblock %}

{% block main %}
	<div class="row">

		<div class="col-md-12">
			<img src="{{ asset('media/client/banner_1.jpg') }}" style="width: 100%; margin: 0 auto 20px;">
		</div>

		<div class="col-md-12">
			<form method="POST" enctype="multipart/form-data">

				<div class="card mb-4">
					<div class="card-header">{{ 'public.home.informacionPersonal'|trans }}</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="user_name" class="form-label required">{{ 'entities.user.fields.name'|trans }}</label>
								<input type="text" class="form-control" name="user_name" id="user_name" value="{{ user.name }}" required/>
							</div>
							<div class="col-md-6 mb-3">
								<label for="user_lastname" class="form-label required">{{ 'entities.user.fields.lastname'|trans }}</label>
								<input type="text" class="form-control" name="user_lastname" id="user_lastname" value="{{ user.lastname }}" required/>
							</div>
							<div class="col-md-6 mb-3">
								<label for="user_tel1" class="form-label required">{{ 'entities.user.fields.tel1'|trans }}</label>
								<input type="text" class="form-control" name="user_tel1" id="user_tel1" value="{{ user.tel1 }}" required/>
							</div>
							<div class="col-md-6 mb-3">
								<label for="user_tel2" class="form-label">{{ 'entities.user.fields.tel2'|trans }}</label>
								<input type="text" class="form-control" name="user_tel2" id="user_tel2" value="{{ user.tel2 }}"/>
							</div>
							<div class="col-md-12 mb-3">
								<label for="user_clientConocePor" class="form-label">{{ 'entities.user.fields.clientConocePor'|trans }}</label>
								<select id="user_clientConocePor" name="user_clientConocePor" class="form-control">
									<option value=""></option>
									{% for company in companies %}
										<option value="{{ company.id }}" {% if company == user.clientConocePor %}selected="selected"{% endif %}>{{ company.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>

				{% if myWeddings|length %}
				<div class="card mb-4">
					<div class="card-header">{{ 'public.home.bodas'|trans }}</div>
					<div class="card-body">
						<div class="accordion">
							{% for wedding in myWeddings|sort((a, b) => b.weddingDate <=> a.weddingDate) %}
								<div class="accordion-item">
									<h2 class="accordion-header" id="heading-{{ loop.index }}">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="false">
											{{ 'public.home.bodaDe'|trans }} {{ wedding.client.fullname }} <span class="ms-2 text-muted">{{ wedding.weddingDate|date('d-m-Y') }}</span>
										</button>
									</h2>
									<div id="collapse-{{ loop.index }}" class="accordion-collapse collapse">
										<div class="accordion-body">
											<div class="card mb-4">
												<div class="card-header">{{ 'public.home.informacionExtra'|trans }}</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-6 mb-3">
															<label for="wedding_urlFB_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.urlFB'|trans }}</label>
															<input type="text" class="form-control" name="wedding_urlFB_{{ wedding.id }}" id="wedding_urlFB_{{ wedding.id }}" value="{{ wedding.urlFB }}"/>
														</div>
														<div class="col-md-6 mb-3">
															<label for="wedding_urlIG_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.urlIG'|trans }}</label>
															<input type="text" class="form-control" name="wedding_urlIG_{{ wedding.id }}" id="wedding_urlIG_{{ wedding.id }}" value="{{ wedding.urlIG }}"/>
														</div>
													</div>
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-header">{{ 'public.home.informacionBoda'|trans }}</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-6 mb-3">
															<label for="wedding_weddingDate_{{ wedding.id }}" class="form-label required">{{ 'entities.wedding.fields.weddingDate'|trans }}</label>
															{% set weddingDate = wedding.weddingDate ? wedding.weddingDate|date('d-m-Y H:i:s') : null %}
															<input type="text" class="form-control datetime-picker" name="wedding_weddingDate_{{ wedding.id }}" id="wedding_weddingDate_{{ wedding.id }}" value="{{ weddingDate }}" disabled="disabled"/>
														</div>
														<div class="col-md-6 mb-3">
															<label for="wedding_meetingTime_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.meetingTime'|trans }}</label>
															{% set meetingTime = wedding.meetingTime ? wedding.meetingTime|date('H:i:s') : null %}
															<input type="text" class="form-control time-picker" name="wedding_meetingTime_{{ wedding.id }}" id="wedding_meetingTime_{{ wedding.id }}" value="{{ meetingTime }}" disabled="disabled"/>
														</div>
														<div class="col-md-3 mb-3">
															<label for="wedding_weddingProvince_{{ wedding.id }}" class="form-label required">{{ 'entities.province.singular'|trans }}</label>
															<select id="wedding_weddingProvince_{{ wedding.id }}" name="wedding_weddingProvince_{{ wedding.id }}" class="form-control" disabled="disabled">
																<option value=""></option>
																{% for province in provinces %}
																	<option value="{{ province.id }}" {% if province == wedding.weddingProvince %}selected="selected"{% endif %}>{{ province.name }}</option>
																{% endfor %}
															</select>
														</div>
														<div class="col-md-3 mb-3">
															<label for="wedding_weddingCity_{{ wedding.id }}" class="form-label required">{{ 'entities.wedding.fields.weddingCity'|trans }}</label>
															<input type="text" class="form-control" name="wedding_weddingCity_{{ wedding.id }}" id="wedding_weddingCity_{{ wedding.id }}" value="{{ wedding.weddingCity }}" minlength="3" maxlength="255" disabled="disabled"/>
														</div>
														<div class="col-md-6 mb-3">
															<label for="wedding_weddingAddress_{{ wedding.id }}" class="form-label required">{{ 'entities.wedding.fields.weddingAddress'|trans }}</label>
															<input type="text" class="form-control" name="wedding_weddingAddress_{{ wedding.id }}" id="wedding_weddingAddress_{{ wedding.id }}" value="{{ wedding.weddingAddress }}" minlength="3" maxlength="255" disabled="disabled"/>
														</div>
														<div class="col-md-12 mb-3">
															<label for="wedding_weddingComments_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.weddingComments'|trans }}</label>
															<textarea type="text" class="form-control" name="wedding_weddingComments_{{ wedding.id }}" id="wedding_weddingComments_{{ wedding.id }}" minlength="5" maxlength="500">{{ wedding.weddingComments }}</textarea>
														</div>
														{# 
														<div class="col-md-6 mb-3">
															<label for="wedding_weddingDisplacementCost_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.weddingDisplacementCost'|trans }}</label>
															<input type="text" class="form-control" name="wedding_weddingDisplacementCost_{{ wedding.id }}" id="wedding_weddingDisplacementCost_{{ wedding.id }}" value="{{ wedding.weddingDisplacementCost ? (wedding.weddingDisplacementCost ~ ' €') : null }}" disabled="disabled"/>
														</div>
														 #}
														<div class="col-md-12 mb-3">
															<label for="wedding_weddingPayMethod_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.weddingPayMethod'|trans }}</label>
															<select id="wedding_weddingPayMethod_{{ wedding.id }}" name="wedding_weddingPayMethod_{{ wedding.id }}" class="form-control">
																<option value=""></option>
																<option value="{{ 'entities.wedding.fields.payMethods.1'|trans }}" {% if wedding.weddingPayMethod == 'entities.wedding.fields.payMethods.1'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.1'|trans }}
																</option>
																<option value="{{ 'entities.wedding.fields.payMethods.2'|trans }}" {% if wedding.weddingPayMethod == 'entities.wedding.fields.payMethods.2'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.2'|trans }}
																</option>
																<option value="{{ 'entities.wedding.fields.payMethods.3'|trans }}" {% if wedding.weddingPayMethod == 'entities.wedding.fields.payMethods.3'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.3'|trans }}
																</option>
																<option value="{{ 'entities.wedding.fields.payMethods.4'|trans }}" {% if wedding.weddingPayMethod == 'entities.wedding.fields.payMethods.4'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.4'|trans }}
																</option>
															</select>
														</div>
													</div>
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-header">{{ 'public.home.informacionPrueba'|trans }}</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-12 mb-3">
															<label for="wedding_testingDate_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingDate'|trans }}</label>
															{% set disabledTestingDate = wedding.testingDate ? true : (date() > wedding.weddingDate|date_modify("-15 days")) %}
															{% set testingDate = wedding.testingDate ? wedding.testingDate|date('d-m-Y H:i:s') : null %}
															<input type="text" class="form-control datetime-picker" name="wedding_testingDate_{{ wedding.id }}" id="wedding_testingDate_{{ wedding.id }}" value="{{ testingDate }}" {% if disabledTestingDate %}disabled="disabled"{% endif %}/
															data-allowedDates="{{ wedding.allowedTestingDates|join('|') }}">
														</div>
														<div class="col-md-6 mb-3">
															<label for="wedding_testingCity_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingCity'|trans }}</label>
															<input type="text" class="form-control" name="wedding_testingCity_{{ wedding.id }}" id="wedding_testingCity_{{ wedding.id }}" value="{{ wedding.testingCity }}" disabled="disabled"/>
														</div>
														<div class="col-md-6 mb-3">
															<label for="wedding_testingAddress_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingAddress'|trans }}</label>
															<input type="text" class="form-control" name="wedding_testingAddress_{{ wedding.id }}" id="wedding_testingAddress_{{ wedding.id }}" value="{{ wedding.testingAddress }}" disabled="disabled"/>
														</div>
														<div class="col-md-12 mb-3">
															<label for="wedding_testingComments_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingComments'|trans }}</label>
															<textarea type="text" class="form-control" name="wedding_testingComments_{{ wedding.id }}" id="wedding_testingComments_{{ wedding.id }}">{{ wedding.testingComments }}</textarea>
														</div>
														{# 
														<div class="col-md-6 mb-3">
															<label for="wedding_testingDisplacementCost_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingDisplacementCost'|trans }}</label>
															<input type="text" class="form-control" name="wedding_testingDisplacementCost_{{ wedding.id }}" id="wedding_testingDisplacementCost_{{ wedding.id }}" value="{{ wedding.testingDisplacementCost ? (wedding.testingDisplacementCost ~ ' €') : null }}" disabled="disabled"/>
														</div>
														 #}
														<div class="col-md-12 mb-3">
															<label for="wedding_testingPayMethod_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.testingPayMethod'|trans }}</label>
															<select id="wedding_testingPayMethod_{{ wedding.id }}" name="wedding_testingPayMethod_{{ wedding.id }}" class="form-control">
																<option value=""></option>
																<option value="{{ 'entities.wedding.fields.payMethods.1'|trans }}" {% if wedding.testingPayMethod == 'entities.wedding.fields.payMethods.1'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.1'|trans }}
																</option>
																<option value="{{ 'entities.wedding.fields.payMethods.2'|trans }}" {% if wedding.testingPayMethod == 'entities.wedding.fields.payMethods.2'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.2'|trans }}
																</option>
																<option value="{{ 'entities.wedding.fields.payMethods.3'|trans }}" {% if wedding.testingPayMethod == 'entities.wedding.fields.payMethods.3'|trans %}selected="selected"{% endif %}>
																	{{ 'entities.wedding.fields.payMethods.3'|trans }}
																</option>
															</select>
														</div>

														{% set signatureEnabled = wedding.testingDate ? (date()|date("d/m/Y") == date(wedding.testingDate)|date("d/m/Y")) : false %}
														{% if signatureEnabled and not wedding.testingSign %}
															<div id="signature-container" data-id="{{ wedding.id }}" class="col-md-12">
																<label class="form-label">{{ 'ea.testingSign.title'|trans }}</label>
																<p class="text-muted">{{ 'ea.testingSign.text1'|trans }}</p>
																<p class="text-muted">{{ 'ea.testingSign.text2'|trans }}</p>
																<p class="text-muted">{{ 'ea.testingSign.text3'|trans }}</p>
																<div id="signature">
																	<div class="signature-body">
																		<canvas></canvas>
																	</div>
																	<div class="signature-footer">
																		<div class="signature-actions">
																			<div class="row">
																				<div class="col-md-12 text-center">
																					<button type="button" class="btn btn-block btn-danger" data-action="clear">
																						<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																					</button>
																					<button type="button" class="btn btn-block btn-success" data-action="save">
																						<i class="icon ti ti-device-floppy"></i> {{ 'action.create'|trans({}, 'EasyAdminBundle') }}
																					</button>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														{% endif %}

														{% if wedding.testingSign %}
															<div id="signature-helper" class="col-md-12">
																<div class="alert alert-success" role="alert">{{ 'ea.testingSign.title'|trans }}</div>
																<img src="data:image/png;base64,{{ wedding.testingSign }}" class="img-fluid"/>
															</div>
														{% endif %}
													</div>
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-header">{{ 'entities.wedding.fields.images'|trans }}</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-6 my-3">
															{% if wedding.image1 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image1} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_1_{{ wedding.id }}" id="wedding_file_remove_1_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_1_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_1_{{ wedding.id }}" id="wedding_file_1_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
														<div class="col-md-6 my-3">
															{% if wedding.image2 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image2} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_2_{{ wedding.id }}" id="wedding_file_remove_2_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_2_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_2_{{ wedding.id }}" id="wedding_file_2_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
														<div class="col-md-6 my-3">
															{% if wedding.image3 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image3} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_3_{{ wedding.id }}" id="wedding_file_remove_3_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_3_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_3_{{ wedding.id }}" id="wedding_file_3_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
														<div class="col-md-6 my-3">
															{% if wedding.image4 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image4} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_4_{{ wedding.id }}" id="wedding_file_remove_4_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_4_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_4_{{ wedding.id }}" id="wedding_file_4_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
														<div class="col-md-6 my-3">
															{% if wedding.image5 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image5} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_5_{{ wedding.id }}" id="wedding_file_remove_5_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_5_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_5_{{ wedding.id }}" id="wedding_file_5_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
														<div class="col-md-6 my-3">
															{% if wedding.image6 %}
																<div class="text-center">
																	{% include 'field/media.html.twig' with {media: wedding.image6} %}
																	<label class="d-block pt-2">
																		<i class=" icon ti ti-trash"></i> {{ 'action.delete'|trans({}, 'EasyAdminBundle') }}
																		<input type="checkbox" name="wedding_file_remove_6_{{ wedding.id }}" id="wedding_file_remove_6_{{ wedding.id }}"/>
																	</label>
																</div>
															{% else %}
																<div class="form-group">
																	<label for="wedding_file_6_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.image'|trans }}</label>
																	<input type="file" name="wedding_file_6_{{ wedding.id }}" id="wedding_file_6_{{ wedding.id }}"/>
																</div>
															{% endif %}
														</div>
													</div>
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-header">{{ 'entities.service.plural'|trans }}</div>
												<div class="card-body">
													<div class="row">
														{% for weddingservice in wedding.weddingServices %}
															{% set priceTotal = billing[weddingservice.id].total %}
															{% set priceBooking = billing[weddingservice.id].booking %}
															{% set priceTesting = billing[weddingservice.id].testing %}
															{% set priceWedding = billing[weddingservice.id].wedding %}

															{% if wedding.testingExtraPayment and priceTesting %}
																{% set priceTesting = priceTesting + wedding.testingExtraPayment %}
																{% set priceTotal = priceTotal + wedding.testingExtraPayment %}
															{% endif %}
															{% if wedding.weddingExtraPayment and priceWedding %}
																{% set priceWedding = priceWedding + wedding.weddingExtraPayment %}
																{% set priceTotal = priceTotal + wedding.weddingExtraPayment %}
															{% endif %}
															
															<div class="col-md-12" style="margin-bottom: 15px;">
																<p style="margin: 0;">
																	<strong>{{ weddingservice.count }} {{ weddingservice.service.name }}</strong>:
																	{% if priceTotal %}
																		{{ priceTotal|price }} €
																	{% else %}
																		- {{ 'public.home.noProfessional'|trans }} -
																	{% endif %}
																</p>
																{% if priceBooking %}
																	<p style="margin: 0 0 0 15px;">
																		<small>- {{ 'public.home.booking'|trans }}: {{ priceBooking|price }} €</small>
																	</p>
																{% endif %}
																{% if priceTesting %}
																	<p style="margin: 0 0 0 15px;">
																		<small>- {{ 'public.home.testing'|trans }}: {{ priceTesting|price }} €</small>
																	</p>
																{% endif %}
																{% if priceWedding %}
																	<p style="margin: 0 0 0 15px;">
																		<small>- {{ 'public.home.wedding'|trans }}: {{ priceWedding|price }} €</small>
																	</p>
																{% endif %}
															</div>
														{% endfor %}
													</div>
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-header">{{ 'entities.wedding.fields.requestModify'|trans }}</div>
												<div class="card-body">
													<div class="row">
														<div class="col-md-12">
															<div class="form-group">
																<label for="wedding_requestModify_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.requestModify'|trans }}</label>
																<textarea class="form-control" name="wedding_requestModify_{{ wedding.id }}" id="wedding_requestModify_{{ wedding.id }}">{{ wedding.requestModify }}</textarea>
															</div>
														</div>
													</div>
												</div>
											</div>

											{% if wedding.weddingDate and (date(wedding.weddingDate) < date('-3days')) %}
												<div class="card mb-4">
													<div class="card-header">{{ 'entities.wedding.fields.weddingSatisfaction'|trans }}</div>
													<div class="card-body">
														<div class="col-md-12">
															<div class="form-group">
																<label for="wedding_weddingSatisfaction_{{ wedding.id }}" class="form-label">{{ 'entities.wedding.fields.weddingSatisfaction'|trans }}</label>
																<textarea class="form-control" name="wedding_weddingSatisfaction_{{ wedding.id }}" id="wedding_weddingSatisfaction_{{ wedding.id }}">{{ wedding.weddingSatisfaction }}</textarea>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}

				<div class="row mb-4">
					<div class="col-md-12 text-center">
						<div class="form-group">
							<button type="submit" class="btn btn-block btn-success">
								<i class="icon ti ti-device-floppy"></i> {{ 'action.create'|trans({}, 'EasyAdminBundle') }}
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>

		<div class="col-md-12">
			<a href="https://ouinovias.com/recomendaciones-oui/" target="_blank">
				<img src="{{ asset('media/client/banner_2.jpg') }}" style="width: 100%; margin: 0 auto 20px;">
			</a>
		</div>
	</div>

	{{ encore_entry_link_tags('form-type-datetime') }}
	{{ encore_entry_script_tags('form-type-datetime') }}
	<script>
		document.addEventListener("DOMContentLoaded", () => {
			document.querySelectorAll(".datetime-picker:not(:disabled)").forEach((element) => {
				var allowedDates = $(element).attr('data-allowedDates').split("|");
				const datetime = flatpickr(element, {
					enable: allowedDates,
					locale: moment.locale(),
					minuteIncrement: 1,
					altInput: true,
					allowInput: true,
					dateFormat: "YYYY-MM-DDTHH:mm:ss",
					altFormat: moment.localeData().longDateFormat("L") + " " + moment.localeData().longDateFormat("LT"),
					formatDate: (date, format, locale) => {
						return moment(date).format(format);
					},
					enableTime: true,
					time_24hr: true,
				});
			});
		});
		document.addEventListener("DOMContentLoaded", () => {
			var wrapper = document.getElementById("signature");
			if (wrapper) {
				var canvas = wrapper.querySelector("canvas");
				var clearButton = wrapper.querySelector("[data-action=clear]");
				var saveButton = wrapper.querySelector("[data-action=save]");
				
				canvas.setAttribute("width", $(canvas).parents('.accordion-item').width() - 86);
				canvas.setAttribute("height", 300);
				
				var signaturePad = new SignaturePad(canvas, {
					backgroundColor: '#FFF'
				});

				clearButton.addEventListener("click", function (event) {
					signaturePad.clear();
				});

				saveButton.addEventListener("click", function (event) {
					$.post("{{ path('public_api_testingSign') }}", {
							id: $("#signature-container").data("id"),
							sign: signaturePad.toDataURL().replace('data:image/png;base64,', '')
						}
					).done(function(data) {
						location.reload();
					});
				});
			}
		});
	</script>
{% endblock %}