<div class="media-container">
	<span class="media-image avatar lazy" data-src="{{ asset(filename) }}">
		<a href="{{ asset(filename) }}" class="stretched-link" data-action="zoom" style="cursor: zoom-in;"></a>
	</span>
</div>